!!!
%html
  %head
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title= "Richard Royal - Software Developer"
    %meta{ content: "Richard Royal Software Developer - Ruby, Python, PHP, JavaScript, Rails", name: "description"}
    %link{ rel: 'stylesheet', type: 'text/css', media: 'all', href: 'style.css' }

  %body

    #wrapper

      %h1 Richard Royal
      %h2 
        Experienced Technology Startup Hacker and Software Developer
        %br
        currently @SAI_Digital
  
      %p
        %strong
          Ruby, Python, PHP, JavaScript
      %p
        %i Rails, WordPress, Drupal, NodeJS, WebGL
  
      .block
  
        %h3 Contact Me
  
        %ul
          %li
            %a{ href: 'https://twitter.com/richardroyal', target: '_blank' } @richardroyal
          %li
            %a{ href: 'http://www.linkedin.com/in/richardroyal/' } LinkedIn
          %li
            %a{ href: 'https://github.com/richardroyal' } GitHub Profile
          %li
            %a{ href: 'http://profiles.wordpress.org/richardroyal/' } WordPress Profile
