!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title Richard Royal - Software Developer
    %meta{content: "Richard Royal Software Developer - Ruby, Python, PHP, JavaScript, Rails", name: "description"}
    %link{href: "style.css", media: "all", rel: "stylesheet", type: "text/css"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65863013-1', 'auto');
      ga('send', 'pageview');

  %body
    #wrapper
      %h1 Richard Royal
      %h2
        Experienced Technology Startup Hacker and Software Developer
      %p
        %strong
          Python, Ruby, PHP, JavaScript
      %p
        %i Django, Rails, WordPress, Drupal, NodeJS, WebGL
      .block
        %h3 Contact Me
        %ul
          %li
            %a{href: "https://twitter.com/richardroyal", target: "_blank"} @RichardRoyal
          %li
            %a{href: "http://www.linkedin.com/in/richardroyal/"} LinkedIn
          %li
            %a{href: "https://github.com/richardroyal"} GitHub Profile
          %li
            %a{href: "http://profiles.wordpress.org/richardroyal/"} WordPress Profile
